div.round1 {
    border: 2px solid orangered;
    border-radius: 8px;
    padding: 1% 2%;
    margin: 0% 0% 0% 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.codigos {
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: orangered;
    border-radius: 15px;
    color: white;
    padding: 9px 18px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
